body {
  font-family: Arial, sans-serif;
  background:lightcoral;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

li:hover {
  background: #d0e7ff;
}

.hidden {
  display: none;
}
